list-bg = #262626
point = #fadd6a

.boxing-list
	background list-bg
	.boxing-ele
		margin-bottom 15px
		video
			width 100vw
			height 100vw * (9 / 16)
		p
			color #fff
			padding-left 4vw
			span
				color point