color1 = #000000
color2 = #262626
color3 = #fadd6a
color4 = #0382ed
color5 = #e6003e
color6 = #dfdfdf
color7 = #adadad
color8 = #eeeeee
color9 = #1c1c20
color10 = #bcbcbc

.rank-page
	.opt
		background #1c1c20
		position relative
		div
			width calc(20vw - 5px)
			display inline-block
			height 44px
			text-align center
			font-size 14px
			line-height 44px
			color #fff
		.selectd
			color color3
			font-weight bold
			font-size 16px
		i
			height 10px
			width 10px
			position absolute
			bottom 0
			left calc(50vw - 3px)
			display block
			background url('../image/zhizhen@2x.png')
			background-size 100% 100%

	.title
		background color8
		div
			display inline-block
			width calc(33vw - 5px)
			text-align center
			line-height 35px
	.body
		li
			border-bottom 1px solid #bcbcbc
			div
				display inline-block
				width calc(33vw - 5px)
				text-align center
				line-height 50px

